header {
    position: absolute;

    padding: 0 10px 0 10px;

    margin-top: 40px;
    margin-left: 130px;
    margin-right: 130px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
    height: 7vh;

    background-color: #FFF1;
}

header > a {
    width: 130px;
    height: 30px;
}

.marvel-logo {
    width: 100%;
    height: 100%;
}

.links-container {
    display: flex;
    gap: 2vw;
    font-family: 'Josefin Sans', sans-serif;
}

.links-container a {

    text-shadow: 2px 1px 2px #000c;
    padding: 8px;
    transition: all .3s;

    position: relative;
}

.links-container > li:hover .dropdown-menu {
    display: flex;
}

.links-container a:before {
    content: "";
    
    position: absolute;
    
    width: 100%;
    height: 2px;
    
    bottom: 0;
    left: 0;
    
    background-color: var(--accent-color);
    
    visibility: hidden;
    
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
  }

.links-container a:hover:before {
    visibility: visible;

    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

.links-container a {
    font-size: clamp(.8rem, 1.1rem, 7rem);
}